#Exclude Main files and directory
/.vs
/ApplicationTools/bin
/ApplicationTools/obj
/ApplicationTools/ApplicationTools.csproj.user
/AstroTargetSelector/.vs
/AstroTargetSelector/bin
/AstroTargetSelector/obj
/AstroTargetSelector/AstroTargetSelector.csproj.user
/AstroTargetSelectorBusiness/bin
/AstroTargetSelectorBusiness/obj
/AstroTargetSelectorTelescope/bin
/AstroTargetSelectorTelescope/obj
/AstroTargetSelectorSetup/.vs/AstroTargetSelectorSetup/v17
