#Exclude Main files and directory
/.vs

#Exclude ATS files and directory
/AstroTargetSelector/.vs
/AstroTargetSelector/bin
/AstroTargetSelector/obj
/ApplicationTools/ApplicationTools.csproj.user
/AstroTargetSelector/AstroTargetSelector.csproj.user
